$bg-color: #1A1A1A;
$main-color: #CAFF33;
$text-color: #FFFFFF;
$topNav-color: #1C1C1C;
$border-color: #262626;
$info-text-color: #E4E4E7;
$income-bg-color: #22251B;
$exchange-button-color: #D1FF4D;

/*  img  */
$header-bg-img-path: './../assets/images/header_bg.png';
$header-vector-img-path: './../assets/images/vector.png';
$header-transactions-img-path: './../assets/images/bgi-transactions.png';

/*  Content  */
body{
    background-color: $bg-color;
}

.container {
    width: 90%;
    margin: 0 auto;
}