@import './../helpers/global';
@import './../helpers/animation';
@import './../helpers/extends';

// @media (max-width: 769px) {}
.hidden {
    display: none;
}

header {
    position: relative;
    padding-top: 50px;

    min-height: 100vh;

    @media (max-width: 769px) {
        padding-top: 30px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;

        width: 50%;
        height: 50%;

        background-image: url($header-bg-img-path);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .vector {
        @extend .vector;
        top: 310px;
        right: 153px;

        width: 270px;
        height: 270px;
        @media screen and (max-width: 769px) {
            top: 600px;
            right: 20px;
        }
    }

    .vector1 {
        @extend .vector;
        top: 310px;
        right: 260px;

        width: 55px;
        height: 55px;
        @media screen and (max-width: 769px) {
            top: 550px;
            right: 40px;
        }

    }

    .vector2 {
        @extend .vector;
        top: 406px;
        right: 153px;

        width: 55px;
        height: 55px;
        @media screen and (max-width: 769px) {
            top: 540px;
            right: 170px;
        }
    }

    .vector3 {
        @extend .vector;
        top: 466px;
        right: 220px;

        width: 224px;
        height: 224px;
    }

    .vector4 {
        @extend .vector;
        top: 500px;
        right: 165px;

        width: 110px;
        height: 110px;
        @media screen and (max-width: 769px) {
            top: 540px;
            right: 100px;
        }
    }

    .vector5 {
        @extend .vector;
        top: 492px;
        right: 110px;

        width: 55px;
        height: 55px;
    }



    .topNav {
        position: relative;
        z-index: 10;

        border-radius: 100px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 34px;

        background-color: $topNav-color;

        @media (max-width: 1200px) {
            padding: 14px 24px;
        }

        @media (max-width: 769px) {
            position: absolute;
            top: 30px;
            left: 14px;
            right: 14px;
            align-items: start;

            height: 60px;
        }

        .logo {
            img {
                width: 155px;

                @media (max-width: 1200px) {
                    width: 110px;
                }
            }
        }

        .navContainer {
            @media (max-width: 769px) {
                display: none;
            }

            nav {
                display: flex;
                align-items: center;
                gap: 26px;

                @media (max-width: 1200px) {
                    gap: 18px;
                }

                @media (max-width: 769px) {
                    // display: grid;
                }

                a {
                    display: flex;
                    padding: 12px 24px;
                    border-radius: 82px;

                    font-family: Lexend, sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    /* 27px */
                    color: $text-color;

                    @media (max-width: 1200px) {
                        padding: 10px 18px;
                        font-size: 14px;
                    }

                    &:hover {
                        background: $border-color;
                    }
                }
            }
        }

        .activeNavContainer {
            display: none;

            @media (max-width: 769px) {
                order: 3;
                opacity: 0;
                grid-area: nav;
                display: grid;
                animation: openNavContainer 1s ease-in 1s forwards;

                nav {
                    display: grid;
                }
            }
        }

        .login {
            display: flex;
            gap: 30px;

            @media (max-width: 1200px) {
                gap: 20px;
            }

            @media (max-width: 769px) {
                display: none;
            }

            .singUp {
                font-family: Lexend, sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                /* 27px */
                color: $text-color;

                @media (max-width: 1200px) {
                    font-size: 14px;
                }
            }

            .login {
                display: flex;
                padding: 14px 30px;
                align-items: center;
                border-radius: 82px;

                font-family: Lexend, sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                /* 27px */
                color: $topNav-color;
                background: $main-color;

                @media (max-width: 1200px) {
                    padding: 12px 24px;
                    font-size: 14px;
                }
            }
        }

        .activeLogin {
            display: none;

            @media (max-width: 769px) {
                position: absolute;
                bottom: 10%;
                width: 100%;
                opacity: 0;
                display: grid;
                order: 4;
                grid-area: link;

                animation: openLogin 1s ease-in 1.5s forwards;
            }
        }

        .navButton {
            display: none;

            @media (max-width: 769px) {
                display: grid;
                justify-content: end;

                hr {
                    width: 25px;
                    height: 3px;
                    margin: 4px;
                    border: 0;

                    transition-duration: 1s;

                    background: $text-color;
                }

                .activeHr {

                    &:first-child {
                        transform: translate(0, 230%) rotate(45deg);
                    }

                    &:nth-child(2) {
                        animation: hiddenHr 1s linear forwards;
                    }

                    &:last-child {
                        transform: translate(0, -230%) rotate(-45deg);
                    }
                }
            }
        }
    }

    .activeTopNav {
        display: none;

        @media (max-width: 769px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                'logo button'
                'nav nav'
                'link link';
            align-items: start;
            animation: openTopNav 1s linear forwards;
        }
    }

    .closeTopNav {
        animation: closeTopNav 1s ease-in-out forwards;
    }

    /*  HEADER-CONTENT  */

    .headerContent {
        margin: 100px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        gap: 120px;

        @media screen and (max-width: 1200px) {
            gap: 100px;
        }

        @media screen and (max-width: 992px) {
            gap: 50px;
        }

        @media screen and (max-width: 769px) {
            // padding: 0px 10px;
            gap: 50px;
            grid-template-columns: auto;
            align-items: center;
            justify-self: center;
        }

        .headerContent__info {
            opacity: 0;

            animation: animationContent 1s linear 1.5s forwards;

            @media screen and (max-width: 769px) {
                display: grid;
                justify-content: center;
                text-align: center;
            }

            .info__tagline {
                display: flex;
                padding: 10px 20px 10px 12px;
                align-items: center;
                width: max-content;
                margin-bottom: 20px;
                gap: 6px;
                border-radius: 60px;

                font-family: Lexend, sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 300;
                line-height: 24px;

                background-color: $border-color;
                color: $text-color;

                @media screen and (max-width: 1200px) {
                    padding: 8px 16px 8px 8px;
                    margin-bottom: 16px;

                    font-size: 14px;
                }

                @media screen and (max-width: 769px) {
                    margin: 0 auto;
                    font-size: 12px;
                }
            }

            .info__title {
                @extend .info_title;
                margin-bottom: 14px;
                color: $text-color;
                @media screen and (max-width: 769px) {
                    margin-bottom: 8px;
                }

                span {
                    @extend .info_title;
                    color: $main-color;
                }
            }

            .info__text {
                margin-bottom: 50px;

                font-family: Lexend, sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 300;
                line-height: 150%;
                /* 27px */
                color: $info-text-color;

                @media screen and (max-width: 1200px) {
                    margin-bottom: 40px;

                    font-size: 16px;
                }

                @media screen and (max-width: 769px) {
                    margin-bottom: 30px;
                    font-size: 14px;
                }
            }

            .info__button {
                display: inline-grid;
                @media screen and (max-width: 769px) {
                    justify-content: center;
                }
                .openAccount {
                    display: flex;
                    padding: 18px 30px;
                    align-items: center;
                    border-radius: 82px;

                    font-family: Lexend, sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    /* 27px */
                    color: $topNav-color;
                    background-color: $main-color;

                    @media screen and (max-width: 1200px) {
                        padding: 14px 24px;

                        font-size: 14px;
                    }
                }
            }
        }

        .headerContent__transactions {
            position: relative;
            max-width: 500px;
            padding: 35px;
            opacity: 0;
            gap: 26px;
            border-radius: 10.404px;
            border: 0.867px solid #262626;

            background: linear-gradient(215deg, rgba(26, 26, 26, 0.00) 0%, #1A1A1A 30%), url($header-transactions-img-path);

            animation: animationContent 1s linear 1.5s forwards;

            @media screen and (max-width: 1200px) {
                padding: 27px;
                gap: 20px;
            }
            @media screen and (max-width: 769px) {
                margin: 0 auto; 
            }

            .transactions__income {
                position: absolute;
                left: -60px;
                top: -43px;

                display: flex;
                padding: 13.873px 17.341px;
                align-items: center;
                gap: 8.67px;
                border-radius: 10.404px;

                background: $income-bg-color;

                @media screen and (max-width: 1200px) {
                    padding: 11px 14px;
                }
                @media screen and (max-width: 440px) {
                    left: -10px;
                }
                .income__img {
                    @extend .transaction_circl;
                }

                .income__text {
                    .income__price {
                        font-family: Lexend, sans-serif;
                        font-size: 17.341px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;

                        color: $text-color;

                        @media screen and (max-width: 1200px) {
                            font-size: 14px;
                        }
                        @media screen and (max-width: 769px) {
                            font-size: 10px;
                        }
                    }

                    .income__title {
                        font-family: Lexend, sans-serif;
                        font-size: 13.873px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 150%;

                        color: $info-text-color;

                        @media screen and (max-width: 1200px) {
                            font-size: 11px;
                        }
                        @media screen and (max-width: 769px) {
                            font-size: 8px;
                        }

                    }
                }
            }

            .transactions__title {
                margin-bottom: 17px;

                font-family: Lexend, sans-serif;
                font-size: 17.341px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;

                color: $text-color;

                @media screen and (max-width: 1200px) {
                    margin-bottom: 12px;

                    font-size: 14px;
                }
            }

            .transactions__item {
                @extend .transaction_item;
                z-index: 4;

            }

            .transactions__item-1 {
                @extend .transaction_item;
                z-index: 3;
                opacity: 0.6;
                width: 90%;
                margin: 0 auto;
                margin-top: -5%;
            }

            .transactions__item-2 {
                @extend .transaction_item;
                z-index: 2;
                opacity: 0.4;
                width: 80%;
                margin: 0 auto;
                margin-top: -5%;
                margin-bottom: 25px;
            }

            .exchange__title {
                font-family: Lexend, sans-serif;
                font-size: 17.341px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;

                color: $text-color;
            }

            .exchange__container {
                margin: 26px 0;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: max-content max-content;

                @media screen and (max-width: 1200px) {
                    margin: 20px 0;
                }

                .exchange__item-1 {
                    @extend .exchange_item;
                    border-top-left-radius: 10px;
                }

                .exchange__item-2 {
                    @extend .exchange_item;
                    border-top-right-radius: 10px;
                }

                .exchange__price-1 {
                    @extend .exchange_price;
                    border-bottom-left-radius: 10px;
                }

                .exchange__price-2 {
                    @extend .exchange_price;
                    border-bottom-right-radius: 10px;
                }
            }

            .exchange__button {
                display: grid;
                width: 100%;
                padding: 14px 26px;
                justify-content: center;
                align-items: center;

                border-radius: 70px;
                background: $income-bg-color;

                @media screen and (max-width: 1200px) {
                    padding: 11px 20px;
                }

                button {
                    font-family: Lexend, sans-serif;
                    font-size: 15.607px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    /* 23.41px */
                    color: $exchange-button-color;

                    @media screen and (max-width: 1200px) {
                        font-size: 12px;
                    }
                }
            }
        }
    }

}